@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

:root {
  --white: #eeeeeedd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #222;
}